.container{
	border:2px solid #bbf56a;
	border-radius: 10px;
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
	overflow: hidden;
	height: 500px;
	background: rgba(255,255,255,0.5);
}
.left{
	float: left;
	position: relative;
	top: 100px;
	left: 250px;
}
.right{
	float: left;
	position: relative;
	top: 100px;
	left: 450px;
}
label{
	display: block;
	margin: 10px;
}
input{
	border-radius: 4px;
}
.send{
	width: 150px;
	height: 45px;
	background:#3cdc39; 
	color:#ffeb3b;
	position: relative;
	top: 30px;
	left: 70px;
	font-size: 20px;
}
.reset{
	width: 100px;
	height: 30px;
	position: relative;
	top: 30px;
	left: -450px;
}
.title{
	font-size: 20px;
	position: relative;
	left: 100px;
	top: 50px;
}
.sex{
	margin-left: 40px;
}
#headpict{
	width: 200px;
}

@media all and (max-width: 768px)
{
	#headpict{
		width: 100px;
	}
	.left{
		float: none;
		position: relative;
		top: 15%;
		left: 20%;
	}
	.right{
		float: none;
		position: relative;
		top: -5%;
		left: 50%;
	}
	.reset{
		position: relative;
		left: -50%;
	}
}